* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #F5F7FA;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: bold;
    color: #263238;
}

.logo img {
    width: 35px;
    height: 24px;
}

.head_links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.head_links li {
    cursor: pointer;
    color: #18191F;
    font-size: 16px;
    font-weight: 500;
}

.head_buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.login {
    background: transparent;
    color: #4CAF4F;
}

.signup {
    background: #4CAF4F;
    color: white;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #F5F7FA;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #4CAF4F;
}

.hero-text p {
    margin-bottom: 25px;
    color: #717171;
}

.register {
    background: #4CAF4F;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image img {
    width: 391;
    height: 407;

}

.clients {
    text-align: center;
    padding: 60px 80px;
    /*background: white;*/
}

.clients h2 {
    margin-bottom: 10px;
}

.clients p {
    color: #717171;
    margin-bottom: 40px;
}

.client-logos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.client-logos img {
    padding: 15px 30px;
    border-radius: 8px;

}

.community {
    text-align: center;
    padding: 30px;
}

.community h2 {
    margin-bottom: 10px;
}

.community p {
    color: #717171;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card img {
    margin-bottom: 20px;
    width: 65px;
    height: 56px;
}

.card h3 {
    margin-bottom: 15px;
    color: #4D4D4D;
}

.card p {
    color: #717171;
    font-size: 15px;
}

.unlock {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px;
}

.unlock-img img {
    width: 350px;
}

.unlock-text h2 {
    margin-bottom: 15px;
}

.unlock-text p {
    color: #717171;
    margin-bottom: 25px;
    line-height: 1.6;
}

.learn-more {
    background: #4CAF4F;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 5px;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #F5F7FA;
}

.stats-text h2 {
    font-size: 28px;
}

.stats-text span {
    color: #4CAF4F;
}

.stats-text p {
    margin-top: 10px;
    color: #717171;
}

.stats-numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat-img img {
    width: 45px;
    height: 30px;
}

.stat-text {
    text-align: center;
}

.stat-text h3 {
    color: #4D4D4D;
}

.stat-text p {
    color: #717171;
    font-size: 14px;
}

.customers {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px;
    background: #F5F7FA;
}

.customer-img img {
    width: 250px;
    border-radius: 10px;
}

.customer-content p {
    color: #717171;
    line-height: 1.6;
    margin-bottom: 20px;
}

.customer-content h4 {
    color: #4CAF4F;
    margin-bottom: 5px;
}

.customer-content span {
    color: #717171;
    font-size: 14px;
}

.customer-logos {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.t-logo {
    width: 48px;
    height: 48px;
    background: #E8F5E9;
    border-radius: 5px;
}

.meet-link {
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
}

.blog {
    padding: 80px;
    text-align: center;
}

.blog-header p {
    color: #717171;
    max-width: 600px;
    margin: 10px auto 50px;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card {
    background: #f5f7fa;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 60px;
}

.blog-content {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.blog-content h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.blog-content a {
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
}

.main-content {
    background: #F5F7FA;
    text-align: center;
    padding: 60px 80px;
}

.main-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.getdemo {
    background: #4CAF4F;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.getdemo a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #263238;
    color: white;
    padding: 40px 80px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: bold;
}

.footer-logo img {
    width: 35px;
    height: 24px;
}

.footer-left p {
    color: #F5F7FA;
    font-size: 14px;
    margin-top: 30px;
}

.social-icon {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
}

.footer-column h4 {
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #F5F7FA;
}

.subscribe-form input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
    background: #bdb6b6;
}

.subscribe-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #bdb6b6;
    cursor: pointer;
}